/*@mixin nimMedium {
  @media (min-width: 992px){
    @content;
  }
}*/
@mixin over {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

@mixin prefixer($property, $value, $prefixes : ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}


/*animation*/
@mixin key($animation-name) {
  @-webkit-keyframes #{$animation-name}{
    @content;
  }
  @-moz-keyframes #{$animation-name}{
    @content;
  }
  @keyframes #{$animation-name}{
    @content;
  }
}