$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)"; 
$minMedium: "(min-width: 992px)"; 
$minLarge: "(min-width: 1200px)"; 

$minColor: #e2494c;
$greyColor: #9c9c9c;

$float-left: left;
$float-right: right;

$text-left: left;
$text-right: right;